*{
  box-sizing: content-box;
  padding: 0;
  margin: 0;
}

.App {
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgb(217, 238, 250);
  padding: 15px;
}

.app-heading-container{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;

}

.app-heading{
  font-size: 15px;
  text-align: center;
  font-weight: 700;
  color: rgb(122, 122, 122);
}

@media screen and (min-width: 576px) {
  .app-heading-container{
    height: 125px;
    width: 125px;
  }

  .app-heading{
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) {
  .app-heading-container{
    height: 150px;
    width: 150px;
  }

  .app-heading{
    font-size: 20px;
  }
}